<!DOCTYPE html>
<html>
  <head>
    <title>Dealcart18</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/LOGO.png" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %> 
  </body>
</html>
